<div class="container mt-5">
    <h1>{{form.name}}</h1>
    <h2>{{form.email}}</h2>
    <p>{{form.description}}</p>
    <img src="{{form.profilePic}}" alt="LOGO">
    <h1>{{form.formName}}</h1>
    <h2>{{form.formDesc}}</h2>
    <p>{{form.tags}}</p>
    <div class="divider2"></div>
</div>