<div class="container">
    <div class="row justify-content-center align-items-center errorP">
        <div class="col text-center">
                <img src="/remove.png">
                <h1>Somthing went wrong</h1>
                <h2>{{message}}</h2>
                <button onclick="ErrorOf()">ok</button>
        </div>
    </div>
</div>

<div class="hero">
    <div class="card">
        <label for="input-file"><img src="{{profilePicURL}}" id="profile-pic"></label>
        <h1>{{username}}</h1>
        <p id="top">@{{toLowerCase username}}</p>
        <p class="hover" onclick="writePopUp(0)">Kontakt</p>
        <p class="undertext">{{kontakt}}</p>
        <p class="hover" onclick="writePopUp(1)">Description</p>
        <p id="last" class="undertext">{{desc}}</p>
        <form action="/users/uploadProfilePic" method="POST" enctype="multipart/form-data">
            <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" name="image">
            <button class="Save" type="submit">Save</button>
        </form>
        <form action="/users/logout" method="post">
            <input name="Logout" value="Logout">
            <button class="Logout" type="submit">Log out</button>
        </form>
    </div>
</div>

<div id="wrP" class="write-popup">
  <div class="write-popup-content">
    <form action="/users/submitK" method="POST">
      <input type="email" name="input" placeholder="Enter your text here" class="write-popup-input">
      <button type="submit" class="write-popup-button">Submit</button>
    </form>
  </div>
</div>

<div id="wrP2" class="write-popup">
  <div class="write-popup-content">
    <form action="/users/submitD" method="POST">
      <input type="text" name="input" placeholder="Enter your text here2" class="write-popup-input">
      <button type="submit" class="write-popup-button">Submit</button>
    </form>
  </div>
</div>